name: OpenTofu Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - infrastructure/**
      - .github/workflows/infrastructure.yml
  pull_request:
    branches:
      - main
    paths:
      - infrastructure/**
      - .github/workflows/infrastructure.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  AWS_REGION: ap-southeast-1

jobs:
  opentofu-plan:
    name: tofu plan
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      id-token: write
    env:
      TFC_AWS_RUN_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: tofu fmt
        run: tofu fmt -check -recursive
        working-directory: ./infrastructure

      - name: tofu init
        run: tofu init
        working-directory: ./infrastructure

      - name: tofu plan
        id: plan
        run: tofu plan -detailed-exitcode
        working-directory: ./infrastructure
        env:
          TF_VAR_domain_name: courseratesg.xyz
          TF_VAR_github_repo_url: ${{ github.server_url }}/${{ github.repository }}
          TF_VAR_github_token: ${{ secrets.GH_TOKEN }}
          TF_VAR_backend_container_image: zhongruoyu/courseratesg-backend:latest
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

  opentofu-apply:
    name: tofu apply
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write
    env:
      TFC_AWS_RUN_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: tofu init
        run: tofu init
        working-directory: infrastructure

      - name: tofu plan
        run: tofu plan -detailed-exitcode -out=tfplan
        working-directory: infrastructure
        env:
          TF_VAR_domain_name: courseratesg.xyz
          TF_VAR_github_repo_url: ${{ github.server_url }}/${{ github.repository }}
          TF_VAR_github_token: ${{ secrets.GH_TOKEN }}
          TF_VAR_backend_container_image: zhongruoyu/courseratesg-backend:latest
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

      - name: tofu apply
        id: apply
        run: tofu apply -auto-approve tfplan
        working-directory: infrastructure
